a:visited {
    color: blue;
}

.login-section button:hover {
    opacity: 75%;
    cursor:pointer;
}

.card a:hover {
    color: #000;
}

.cards-info button:hover {
    opacity: 75%;
    cursor: pointer;
}

.footer-links a:hover {
    color: black;
}


.social-media i:hover {
    scale: 1.1;
}
/*-----------------------------------FIM DA ESTILIZAÇÃO DA LANDING PAGE----------------------------------------------*/

.form-login button:hover {
    opacity: 75%;
    cursor: pointer;
}

.form-login a:hover {
    color: #000;
}

.loginHeader a:hover {
    color: #000;
}

.form-cadastro button:hover {
    opacity: 75%;
    cursor: pointer;
}

.menu-items ul li:hover {
    cursor: pointer;
    opacity: 60%;
    scale: 1.1;
}

.cadEmpreendedor h1 {
    overflow: hidden; /* Garante que as letras não vão aparecer antes do tempo */
    white-space: nowrap; /* Impede a quebra de linha */
    border-right: 2px solid transparent; /* Efeito de cursor de digitação */
    animation: digitar 4s steps(100, end) forwards; /* Animação para mostrar letras */ 
  }

.formEmpreendedor {
    animation: formOculto 3.5s ease;
}

.cadEstudante h1 {
    overflow: hidden; /* Garante que as letras não vão aparecer antes do tempo */
    white-space: nowrap; /* Impede a quebra de linha */
    border-right: 2px solid transparent; /* Efeito de cursor de digitação */
    animation: digitar 4s steps(100, end) forwards; /* Animação para mostrar letras */ 
  }

.formEstudante {
    animation: formOculto 3.5s ease;
}

  @keyframes digitar {
    0% {
      width: 0%;
    }
    10% {
        width: 10%;
    }
    50% {
        width: 50%;
    }
    100% {
      width: 80%;
    }
  }

  @keyframes formOculto {
    0% {
        opacity: 0;
    }10% {
        opacity: 0;
    }20% {
        opacity: 0;
    }30% {
        opacity: 0;
    }40% {
        opacity: 0;
    }50% {
        opacity: 0.2;
    }60% {
        opacity: 0.35;
    }70% {
        opacity: 0.55;
    }80% {
        opacity: 0.75;
    }90% {
        opacity: 0.95;
    }100% {
        opacity: 1;
    }
  }